body {
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.part1 {
    width: 100%;
    height: 100svh;
    /* background:linear-gradient(#f3cf4b,#faf1d2); */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.part1::before, .part1::after {
    content: "";
    position: absolute;
    background-image: url(./rangoli1.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.part1::before {
    animation: moveInTopRight 2s forwards;
}

.part1::after {
    animation: moveInBottomLeft 2s forwards;
}

@keyframes moveInTopRight {
    0% {
        top: -300px;
        right: -300px;
    }
    100% {
        top: -100px;
        right: -100px;
    }
}

@keyframes moveInBottomLeft {
    0% {
        bottom: -300px;
        left: -300px;
    }
    100% {
        bottom: -100px;
        left: -100px;
    }
}

.animate-charcter {
    background-image: linear-gradient(
        -225deg,
        white 0%,
        #7bf885 29%,
        rgb(166, 166, 243) 67%,
        #fff800 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 80px;
    text-align: center;
}

@keyframes textclip {
    to {
        background-position: 200%;
    }
}

.part2 {
    width: 100%;
    height: 180svh;
    /* background-color: rgb(202, 199, 199); */
    background: linear-gradient(#f1c64ee7,#f7d67c);
}

.Temple_heading {
    width: 100%;
    height: 80px;
    background-color:white;
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t1_Photo {
    width: 100%;
    height: 300px;
    /* background:linear-gradient(to bottom right,rgb(247, 118, 118),rgb(252, 162, 207)); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

.t1{
    width:250px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    /* position:absolute; */
}
.t1:hover{
    transform: scale(1.1);
    border:2px solid black;
}
.p1{
    background-image: url(./Tirumala1.jpg);
    animation: movephoto1 5s forwards;
}
.p2{
    background-image: url(./Tirumala2.jpg);
    animation: movephoto2 4s forwards;
}
.p3{
    background-image: url(./Tirumala3.jpg);
    animation: movephoto3 3s forwards;
}
 
.t1_content{
    width:100%;
    /* height:350px; */
    height:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgb(248, 156, 187); */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box1{
    width:550px;
    height:300px;
    background-color: white;
    border-radius: 10px;
}
.hist{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.t1_Matter{
    font-size: 18px;
}
.part3{
    width:100%;
    height:100svh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.t2_div1{
    width:40%;
    height:80%;
    background-color: white;
    z-index: 1;
}
.t2_div2{
    width:40%;
    height:80%;
    background-image: url(./diya.png);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 0;
}
.t2_hist{
    width:100%;
    height:90%;
    background-image: url(./Srisailam1.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.t2_hist:hover{
    background-image: url(./Srisailam2.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.Temple2_heading {
    width: 100%;
    height: 10%;
    background-color: white;
    color: black;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.krishna_div1{
    width:80%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: -15px;
    position: relative;
}
.krishna_div2{
    width:80%;
    height:25%;
    position: relative;
    transform: translateX(400px);
    animation:festive_divs 2s forwards;
}
.t2_Matter{
    font-size: 14px;
}
.fest_headings{
    font-size: 18px;
    color:rgb(0, 0, 0);
}
@keyframes festive_divs{
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0);
    }
}

.part4{
    width:100%;
    height:100svh;
    background-color: #f1c64ee7;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.long_div1{
    width:30%;
    height:75%;
    background-color: white;
}
.t2_about{
    width:100%;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:26px;
}
.t2_content{
    /* font-size:20px; */
    font-size: 1.3rem;
    color:black;
}
.Temple3_heading {
    width: 30%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t3_heading{
    width:100%;
    height:10svh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.part5{
    width:100%;
    height:90svh;
    position:relative;
    overflow: hidden;
}
.part5 .Movement{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.rose1 img,.dot1 img,.circle1 img{
    width:80px;
    height:80px;
}
.rose2 img,.dot2 img{
    width:70px;
    height:70px;
}
.circle2 img,.rose4 img{
    width:50px;
    height:50px;
}
.rose3 img,.dot3 img,.circle3 img{
    width:100px;
    height:100px;
}
.part5 .Movement div{
    position:absolute;
    display: block;
}
.part5 .Movement div:nth-child(1){
    left:7%;
    animation:animate 7s linear infinite;
    animation-delay: -5s;
}
.part5 .Movement div:nth-child(2){
    left:14%;
    animation:animate 9s linear infinite;
    animation-delay: -3s;
}
.part5 .Movement div:nth-child(3){
    left:21%;
    animation:animate 5s linear infinite;
    animation-delay: -2s;
}
.part5 .Movement div:nth-child(4){
    left:28%;
    animation:animate 8s linear infinite;
    animation-delay: -3s;
}
.part5 .Movement div:nth-child(5){
    left:35%;
    animation:animate 6s linear infinite;
    animation-delay: -4s;
}
.part5 .Movement div:nth-child(6){
    left:42%;
    animation:animate 10s linear infinite;
    animation-delay: -2s;
}
.part5 .Movement div:nth-child(7){
    left:49%;
    animation:animate 5s linear infinite;
    animation-delay: -3s;
}
.part5 .Movement div:nth-child(8){
    left:56%;
    animation:animate 6s linear infinite;
    animation-delay: -1s;
}
.part5 .Movement div:nth-child(9){
    left:63%;
    animation:animate 10s linear infinite;
    animation-delay: -4s;
}
.part5 .Movement div:nth-child(10){
    left:70%;
    animation:animate 6s linear infinite;
    animation-delay: -5s;
}
.part5 .Movement div:nth-child(11){
    left:77%;
    animation:animate 7s linear infinite;
    animation-delay: -3s;
}
.part5 .Movement div:nth-child(12){
    left:84%;
    animation:animate 5s linear infinite;
    animation-delay: -6s;
}
.part5 .Movement div:nth-child(13){
    left:91%;
    animation:animate 5s linear infinite;
    animation-delay: -4s;
}
.part5 .Movement div:nth-child(14){
    left:95%;
    animation:animate 5s linear infinite;
    animation-delay: -7s;
}
@keyframes animate{
    0%{
        opacity:0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity:1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(180deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        top:110%;
        transform: translateX(-20px) rotate(225deg);
    }
}
.t3{
    width:50%;
    height:60%;
    background-image: url(./Annavaram1.jpg);
    background-size: cover;
    background-position: center;
    border-style: outset;
    border-color: rgb(119, 118, 118);
    position: relative;
}
.part6{
    width:100%;
    height:150svh;
    background-color: #f1c64ee7;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position:relative;
}

.three_divs{
    width:80%;
    height:25%;
    background-color: white;
    display: flex;
    justify-content: end;
    flex-direction: row;
    position:relative;
    overflow:hidden;
    z-index:1;
}
.t3_inside{
    width:70%;
    height:100%;
    font-size: 20px;
    z-index: 999;
    text-wrap: wrap;
}
.t3_imgs{
    width:30%;
    height:100%;
    background-color: white;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
}
.three_divs:hover .t3_anim_content {
    display: block;
    animation: t3_animation1 5s forwards;
}
.t3_anim_content{
    width:100%;
    height:100%;
    background-color:#cfcccc;
    display: none;
    position:absolute;
    top:0;
    left:-100%;
    opacity: 0.1;
}
.i1{
    background-image: url(./Annavaram2.jpg);
}
.i2{
    background-image: url(./Annavaram3.jpg);
}
.i3{
    background-image: url(./Annavaram4.jpg);
}
@keyframes t3_animation1 {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.t3_text{
    position:relative;
    overflow: hidden;
}
.img_circle1{
    width:300px;
    height:300px;
    background-image: url(./durgiana_1.jpg);
    background-size: cover;
    background-position: center;
    float:left;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();
}
.img_circle2{
    width:400px;
    height:400px;
    background-image: url(./durgiana_2.jpg);
    background-size: cover;
    background-position: center;
    float:right;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();

}
.t3_content{
    font-size: 1.2rem;
}

@media screen and (min-width:930px) and (max-width: 1200px){
    .t1_Photo img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
    .Temple_heading{
        width: 100%;
        height: 70px;
        font-size: 28px;
    }
    .box1{
        width:450px;
        height:280px;
        border-radius: 10px;
    }
    .t1_Matter{
        font-size: 15px;
    }
    .animate-charcter{
        font-size: 65px;
    }
    .part1::before, .part1::after {
        content: "";
        width: 380px;
        height: 380px;
    }
    .part2{
        height:220svh;
    }
    .flip-card {
        width: 280px;
        height: 300px;
        position:fixed;
    }
    .flip-card-front img{
        width:280px;
        height:300px;
    }
    .flip-card-back {
        font-size: 14px;
        text-align: justify;
    }
    .krishna_div2{
        width:70%;
        height:25%;
    }
    .fest_headings{
        font-size: 15px;
    }
    .krishna_div1{
        width:70%;
        height:10%;
        font-size: 26px;
    }
    .t2_div1{
        width:40%;
        height:80%;
    }
    .t2_div2{
        width:40%;
        height:80%;
    }
    .t2_hist{
        width:100%;
        height:90%;
    }
    .Temple2_heading {
        width: 100%;
        height: 10%;
        font-size: 26px;
    }
    .img_circle1{
        width:250px;
        height:250px;
        float: left;
        border-radius: 50%;
        margin: 5px;
    }
    .t3_content{
        font-size: 1rem;
    }
    .t3_inside{
        font-size: 16px;
    }
}

@media screen and (max-width: 930px){
    .t1_Matter{
        font-size: 14px;
    }

    .animate-charcter{
        font-size: 55px;
    }
    .box1{
        width:400px;
        height:280px;
    }
    .part1::before, .part1::after {
        width: 360px;
        height: 360px;
    }
    .t1{
        width:230px;
        height: 230px;
    }
    .t1_Photo {
        width: 100%;
        height: 250px;
    }
    .hist{
        font-size: 26px;
    }
    .Temple_heading {
        width: 100%;
        height:70px;
        font-size: 24px;
    }
    .krishna_div2{
        width:70%;
        height:25%;
    }
    .fest_headings{
        font-size: 14px;
    }
    .krishna_div1{
        width:70%;
        height:10%;
        font-size: 26px;
    }
    .part2{
        height:220svh;
    }
    .Temple2_heading {
        width: 100%;
        height: 10%;
        font-size: 24px;
    }
    .long_div1{
        width:30%;
        height:60%;
    }
    .t2_about{
        height:10%;
        font-size:20px;
    }
    .t2_content{
        font-size: 17px;
        text-wrap: wrap;
    }
    .img_circle1{
        width:170px;
        height:170px;
        float: left;
        border-radius: 50%;
        margin: 5px;
    }
    .t3_content{
        font-size: 1rem;
    }
    .t3_inside{
        font-size: 14px;
    }
}

@media screen and (max-width: 820px){ 
    .animate-charcter{
        font-size: 50px;
    }
    .box1{
        width:400px;
        height:280px;
    }
    .Temple_heading {
        width: 100%;
        height:60px;
        font-size: 22px;
    }
    .t1_content{
        width:100%;
        height:650px;
    }
    .t1_Matter{
        font-size: 14px;
    }
    .part1::before, .part1::after {
        width: 340px;
        height: 340px;
    }
    .t1{
        width:200px;
        height: 200px;
        border-radius: 8px;
    }
    .hist{
        font-size: 22px;
    }
    .part2{
        height:320svh;
    }
    .fest_headings{
        font-size: 13px;
    }
    .krishna_div2{
        width:80%;
        height:25%;
    }
    .krishna_div1{
        width:70%;
        height:5%;
        font-size: 22px;
    }
    .Temple2_heading {
        width: 100%;
        height: 10%;
        font-size: 22px;
    }
    .long_div1{
        width:30%;
        height:60%;
    }
    .rose1 img,.dot1 img,.circle1 img{
        width:70px;
        height:65px;
    }
    .rose2 img,.dot2 img{
        width:90px;
        height:95px;
    }
    .circle2 img,.rose4 img{
        width:45px;
        height:45px;
    }
    .rose3 img,.dot3 img,.circle3 img{
        width:100px;
        height:100px;
    }
    
}
@media screen and (min-width: 630px) and (max-width: 820px) { 
    .t2_about{
        height:10%;
        font-size:18px;
    }
    .t2_content{
        font-size: 16px;
        text-wrap: wrap;
    }
    .t3{
        width:70%;
        height:60%;
        background-image: url(./durgiana_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .Temple3_heading {
        width: 65%;
        height: 100%;
        font-size: 28px;
    }
    .img_circle1{
        width:150px;
        height:150px;
        float: left;
        border-radius: 50%;
        margin: 5px;
    }
    .t3_content{
        font-size: 0.8rem;
    }
    .t3_inside{
        font-size: 14px;
    }
}

@media screen and (min-width: 430px) and (max-width: 630px) { 
    .animate-charcter{
        font-size: 40px;
    }
    .t1{
        width:180px;
        height: 180px;
        border-radius: 5px;
    }
    .part1::before, .part1::after {
        width: 310px;
        height: 310px;
    }
    .box1{
        width:360px;
        height:280px;
    }
    .t1_Matter{
        font-size: 14px;
    }
    .t1_Photo {
        width: 100%;
        height: 200px;
    }
    .hist{
        font-size: 20px;
    }
    .Temple_heading {
        width: 100%;
        height:50px;
        font-size: 20px;
    }
    .fest_headings{
        font-size: 12px;
    }
    .krishna_div2{
        width:75%;
        height:26%;
    }
    .krishna_div1{
        width:80%;
        height:5%;
        font-size: 18px;
    }
    .Temple2_heading {
        width: 100%;
        height: 10%;
        font-size: 20px;
    }
    .part3{
        height:110svh;
    }
    .long_div1{
        width:30%;
        height:55%;
    }
    .t2_about{
        height:10%;
        font-size:14px;
    }
    .t2_content{
        font-size: 12px;
        text-wrap: wrap;
    }
    .t3{
        width:80%;
        height:50%;
        background-image: url(./durgiana_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .rose1 img,.dot1 img,.circle1 img{
        width:65px;
        height:65px;
    }
    .rose2 img,.dot2 img{
        width:85px;
        height:85px;
    }
    .circle2 img,.rose4 img{
        width:35px;
        height:35px;
    }
    .rose3 img,.dot3 img,.circle3 img{
        width:110px;
        height:110px;
    }
    .Temple3_heading {
        width: 70%;
        height: 100%;
        font-size: 24px;
    }
    .img_circle1{
        width:130px;
        height:130px;
        float: left;
        border-radius: 50%;
        margin: 5px;
    }
    .t3_content{
        font-size: 0.7rem;
    }
    .t3_inside{
        font-size: 12px;
    }
}

@media screen and (min-width: 300px) and (max-width: 430px) {
    .animate-charcter{
        font-size: 30px;
    }
    .t1{
        width:100px;
        height:100px;
        border-radius: 5px;
    }
    .part1::before, .part1::after {
        width: 260px;
        height: 260px;
    }
    .Temple_heading {
        width: 100%;
        height:40px;
        font-size: 18px;
    }
    .t1_Photo {
        width: 100%;
        height: 120px;
    }
    .t1_Matter{
        font-size: 12px;
    }
    .box1{
        width:320px;
        height:250px;
    }
    .hist{
        font-size: 18px;
    }
    .part1 {
        height: 80svh;
    }
    .part2{
        height:auto;
    }
    .fest_headings{
        font-size: 11.5px;
    }
    .krishna_div2{
        width:70%;
        height:25%;
    }
    .krishna_div1{
        font-size: 18px;
    }
    .part3{
        flex-direction: column;
        height:120svh;
    }
    .t2_div1,.t2_div2{
        width: 80%;
    }
    .t2_div2{
        height:100%;
    }
    .Temple2_heading {
        width: 100%;
        height: 10%;
        font-size: 18px;
    }
    .long_div1{
        width:40%;
        height:40%;
    }
    .t2_about{
        height:8%;
        font-size:12px;
    }
    .t2_content{
        font-size: 11px;
        text-wrap: wrap;
    }
    .t3{
        width:80%;
        height:50%;
        background-image: url(./durgiana_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .rose1 img,.dot1 img,.circle1 img{
        width:60px;
        height:60px;
    }
    .rose2 img,.dot2 img{
        width:80px;
        height:80px;
    }
    .circle2 img,.rose4 img{
        width:30px;
        height:30px;
    }
    .rose3 img,.dot3 img,.circle3 img{
        width:90px;
        height:90px;
    }
    .Temple3_heading {
        width: 50%;
        height: 100%;
        font-size: 22px;
    }
    .img_circle1{
        width:110px;
        height:110px;
        float: left;
        border-radius: 50%;
        margin: 5px;
    }
    .img_circle2{
        width:120px;
        height:120px;
        float:right;
        border-radius: 50%;
        margin: 5px;
    }
    .t3_content{
        font-size: 0.7rem;
    }
    .three_divs{
        width:90%;
        height:25%;
    }
    .t3_inside{
        font-size: 11px;
    }
}